<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Мастер категоризации</title>

		<link rel="stylesheet" href="{{{ExtensionBaseUri}}}/client/templates/styles/main.css">
		<link rel="stylesheet" href="{{{ExtensionBaseUri}}}/client/templates/styles/tests.css">
		<link rel="stylesheet" href="{{{ExtensionBaseUri}}}/client/templates/styles/hljs.css">
		<link rel="stylesheet" href="{{{ExtensionBaseUri}}}/client/templates/styles/categorizator.css">
	
	</head>
	<body>
		<!-- Common Panel -->
		<div id="header">
			<div id="navigation">
				<input id="next_step" class="navigate" type="button" value="{{Locale.NextStep}}">
				<input id="previous_step" class="navigate" type="button" value="{{Locale.PreviousStep}}">
				<input id="save_category" class="save" type="button" value="{{Locale.Save}}">
			</div>
		</div>

		<div class="container">
			<div class="section process" id="textSection">
				<h3>{{Locale.GategorizationProcess}}</h3>
				<textarea rows="100" cols="100" readonly>Здесь отображаем выбранные категории
				</textarea>
			</div>
			<div class="section options" id="radioSection">
				<h3>{{Locale.ChooseValue}}</h3>
				<form>
				<input type="radio" id="option1" name="option" value="option1">
				<label for="option1">Вариант 1</label><p></p>
		
				<input type="radio" id="option2" name="option" value="option2">
				<label for="option2">Вариант 2</label><p></p>
		
				<input type="radio" id="option3" name="option" value="option3">
				<label for="option3">Вариант 3</label><p></p>
				</form>
			</div>
			<div class="section description" id="dynamicTextSection">
				<h3>{{Locale.ValueDescription}}</h3>
				<textarea rows="100" cols="100" readonly>*Подробное описание в зависимости от выбранного пункта*
				</textarea>
			</div>
		</div>
		

		<!-- Для отладки в браузере добавляю прямую ссылку на JQuery. -->
		<script	src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="{{{ExtensionBaseUri}}}/client/templates/js/jquery-3.6.0.min.js"></script>
		<script src="{{{ExtensionBaseUri}}}/client/templates/js/highlight-11.7.0.min.js"></script>

		<!-- Для работоспособности vscode ui toolkit -->
		<script type="module" src="{{WebviewUri}}"></script>

		<script>
			// Глобальное определение переменных.
			const redos = [];
			const undos = [];
			const vscode = acquireVsCodeApi();
		</script>		
	</body>
</html>