<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Мастер категоризации</title>

		<link rel="stylesheet" href="{{{ExtensionBaseUri}}}/client/templates/styles/main.css">
		<link rel="stylesheet" href="{{{ExtensionBaseUri}}}/client/templates/styles/categorizator.css">
	
	</head>
	<body>
		<!-- Common Panel -->
		<div id="header">
			<div id="navigation">
				<input id="prev_step" class="navigate" type="button" value="{{Locale.PreviousStep}}">
				<input id="next_step" class="navigate" type="button" value="{{Locale.NextStep}}">
				<input id="save_category" class="save" type="button" value="{{Locale.Save}}">
			</div>
		</div>

		<div class="container">
			<!-- Categorization Process Section -->
			<div class="section process" id="section_process">
				<p class="section-p">{{Locale.GategorizationProcess}}</p>
				<!-- <label for="raws_input">raws:</label> -->
				<!-- <input type="text" id="raws_input" class="raws-input" name="raws_input"> -->
				<textarea id="textarea_process" rows="100" cols="100" readonly></textarea>
			</div>

			<!-- Options Section -->
			<div class="section options" id="section_options">
				<p class="section-p">{{Locale.ChooseValue}}</p>
				<form id="form_domains">
				<input type="radio" name="option" value="option1">
				<label>Вариант 1</label><p></p>
		
				<input type="radio" name="option" value="option2">
				<label>Вариант 2</label><p></p>
		
				<input type="radio" name="option" value="option3">
				<label>Вариант 3</label><p></p>
				</form>
			</div>

			<!-- Description Section -->
			<div class="section description" id="section_description">
				<p class="section-p">{{Locale.ValueDescription}}</p>
				<textarea id="textarea_description" rows="100" cols="100" readonly>*Подробное описание в зависимости от выбранного пункта*</textarea>
			</div>
		</div>
		

		<!-- Для отладки в браузере добавляю прямую ссылку на JQuery. -->
		<script	src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="{{{ExtensionBaseUri}}}/client/templates/js/jquery-3.6.0.min.js"></script>
		<script src="{{{ExtensionBaseUri}}}/client/templates/js/highlight-11.7.0.min.js"></script>
		<script src="{{{ExtensionBaseUri}}}/client/templates/js/categorizator.js"></script>

		<!-- Для работоспособности vscode ui toolkit -->
		<script type="module" src="{{WebviewUri}}"></script>

		<script>
			// Глобальное определение переменных.
			const vscode = acquireVsCodeApi();

			const domains = decodeURIComponent('{{domains}}');
			const level = '{{LevelName}}';
			update_domains('form_domains', level, domains.split('|'));

			window.addEventListener(
				'message',
				(event) => {
					console.log('event:', event);

					const message = event.data; 
					switch (message.command) {
						case 'updateDescription': {
							change_textarea('textarea_description', message.value);
							break;
						}
						case 'nextStep': {
							clear_textarea('textarea_description')
							if (message.domains.length == 1) {
								const selectedLevel = message.level;
								const selectedDomain = message.domains[0];
								append_textarea('textarea_process', `${selectedLevel}: ${selectedDomain}`)
								vscode.postMessage({
									'command': 'nextStep',
									'level': selectedLevel,
									'domain': selectedDomain
								})
							} else {
								update_domains('form_domains', message.level, message.domains);
							}
							break;
						}
						case 'prevStep': {
							clear_textarea('textarea_description')
							update_domains('form_domains', message.level, message.domains)
							break;
						}
						case 'resetView': {
							clear_textarea('textarea_process')
							clear_textarea('textarea_description')
							update_domains('form_domains', level, domains.split('|'));
							break;
						}
					}
				}
			)
			
			$('#form_domains').on('change', ' input[type="radio"]', function() {
			    const selectedDomain = $(this).val();
				const selectedLevel = $(this).attr('name');

				vscode.postMessage({
					'command': 'getDesctiption',
					'level':  selectedLevel,
					'domain': selectedDomain
				})
			});

			$('#form_domains').on('change', ' input[type="checkbox"]', function() {
    			const selectedDomain = $(this).val();
    			const selectedLevel = $(this).attr('name');

    			vscode.postMessage({
    			    'command': 'getDesctiption',
    			    'level':  selectedLevel,
    			    'domain': selectedDomain
    			})
			});

			$('#next_step').click(function() {
				const selectedRadio = $('#form_domains input[type="radio"]:checked');
				const selectedCheckboxes = $('#form_domains input[type="checkbox"]:checked');

				var selectedDomain = '';
				var selectedLevel = '';

			    if (selectedRadio.length === 0 && selectedCheckboxes.length === 0) {
			        showErrorMessage('EmptyValue');
			        return;
			    } else if (selectedRadio.length != 0) {
					selectedLevel = selectedRadio.attr('name');
					selectedDomain = selectedRadio.val();
				} else if (selectedCheckboxes.length != 0) {
					// BUG: Сохраняется возможность выбрать параметры all и через запятую остальные.
					selectedLevel = selectedCheckboxes.attr('name');
					selectedDomain = selectedCheckboxes.map(function() {
        							return $(this).val();
    								}).get().join(',');
					selectedDomain = moderate_raws(selectedDomain)
				}

				append_textarea('textarea_process', `${selectedLevel}: ${selectedDomain}`)
				
				vscode.postMessage({
					'command': 'nextStep',
					'level': selectedLevel,
					'domain': selectedDomain
				})
			})

			$('#prev_step').click(function() {
				var process_state = $('#textarea_process').val()
				
				if (process_state.length == 0) {
					showErrorMessage('StartState')
				}

				const lastvalue = is_category_done('textarea_process') 
				?  shift_line_from_textarea('textarea_process') 
				: pop_line_from_textarea('textarea_process');

				vscode.postMessage({
					'command': 'prevStep',
					'level': lastvalue.level,
					'domain': lastvalue.domain
				})
			})

			$('#save_category').click(function() {
				if (is_category_done('textarea_process')) {
					vscode.postMessage({
						'command': 'saveCategory',
						'value': String($('#textarea_process').val())
					})
				} else {
					showErrorMessage('IncompleteCategory')
				}
			})
			//# sourceURL=eventManager.js
		</script>		
	</body>
</html>