<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Мастер категоризации</title>

		<link rel="stylesheet" href="{{{ExtensionBaseUri}}}/client/templates/styles/main.css">
		<link rel="stylesheet" href="{{{ExtensionBaseUri}}}/client/templates/styles/categorizator.css">
	
	</head>
	<body>
		<!-- Common Panel -->
		<div id="header">
			<div id="navigation">
				<input id="prev_step" class="navigate" type="button" value="{{Locale.PreviousStep}}">
				<input id="next_step" class="navigate" type="button" value="{{Locale.NextStep}}">
				<input id="save_category" class="save" type="button" value="{{Locale.Save}}">
			</div>
		</div>

		<div class="container">
			<!-- Categorization Process Section -->
			<div class="section process" id="section_process">
				<p class="section-p">{{Locale.GategorizationProcess}}</p>
				<!-- <label for="raws_input">raws:</label> -->
				<!-- <input type="text" id="raws_input" class="raws-input" name="raws_input"> -->
				<textarea id="textarea_process" rows="100" cols="100" readonly></textarea>
			</div>

			<!-- Options Section -->
			<div class="section options" id="section_options">
				<p class="section-p">{{Locale.ChooseValue}}</p>
				<form id="form_options">
				<input type="radio" name="option" value="option1">
				<label>Вариант 1</label><p></p>
		
				<input type="radio" name="option" value="option2">
				<label>Вариант 2</label><p></p>
		
				<input type="radio" name="option" value="option3">
				<label>Вариант 3</label><p></p>
				</form>
			</div>

			<!-- Description Section -->
			<div class="section description" id="section_description">
				<p class="section-p">{{Locale.ValueDescription}}</p>
				<textarea id="textarea_description" rows="100" cols="100" readonly>*Подробное описание в зависимости от выбранного пункта*</textarea>
			</div>
		</div>
		

		<!-- Для отладки в браузере добавляю прямую ссылку на JQuery. -->
		<script	src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="{{{ExtensionBaseUri}}}/client/templates/js/jquery-3.6.0.min.js"></script>
		<script src="{{{ExtensionBaseUri}}}/client/templates/js/highlight-11.7.0.min.js"></script>
		<script src="{{{ExtensionBaseUri}}}/client/templates/js/categorizator.js"></script>

		<!-- Для работоспособности vscode ui toolkit -->
		<script type="module" src="{{WebviewUri}}"></script>

		<script>
			// Глобальное определение переменных.
			const vscode = acquireVsCodeApi();

			const domains = decodeURIComponent('{{domains}}');
			const level = '{{LevelName}}';
			update_options('form_options', level, domains.split('|'));

			window.addEventListener(
				'message',
				(event) => {
					console.log('event:', event);

					const message = event.data; 
					switch (message.command) {
						case 'updateDescription': {
							change_textarea('textarea_description', message.value);
							break;
						}
						case 'nextStep': {
							clear_textarea('textarea_description')
							update_options('form_options', message.domain, message.values)
							break;
						}
						case 'prevStep': {
							clear_textarea('textarea_description')
							update_options('form_options', message.domain, message.values)
							break;
						}
						case 'resetView': {
							clear_textarea('textarea_process')
							clear_textarea('textarea_description')
							update_options('form_options', level, domains.split('|'));
							break;
						}
					}
				}
			)
			
			$('#form_options').on('change', ' input[type="radio"]', function() {
			    const selectedValue = $(this).val();
				const selectedDomain = $(this).attr('name');

				vscode.postMessage({
					'command': 'getDesctiption',
					'domain':  selectedDomain,
					'value': selectedValue
				})
			});


			$('#next_step').click(function() {
				const selectedRadio = $('#form_options input[type="radio"]:checked');

			    if (selectedRadio.length === 0) {
			        showErrorMessage('EmptyValue');
			        return;
			    }
			
			    const selectedDomain = selectedRadio.attr('name');
			    const selectedValue = selectedRadio.val();
			

				append_textarea('textarea_process', `${selectedDomain}: ${selectedValue}`)
				
				vscode.postMessage({
					'command': 'nextStep',
					'domain': selectedDomain,
					'value': selectedValue
				})
			})

			$('#prev_step').click(function() {
				var process_state = $('#textarea_process').val()
				
				if (process_state.length == 0) {
					showErrorMessage('StartState')
				}

				const lastline = pop_line_from_textarea('textarea_process')

				vscode.postMessage({
					'command': 'prevStep',
					'domain': lastline.domain,
					'value': lastline.value
				})				
			})

			$('#save_category').click(function() {
				if (is_category_done('textarea_process')) {
					vscode.postMessage({
						'command': 'saveCategory',
						'domain': null,
						'value': String($('#textarea_process').val())
					})
				} else {
					showErrorMessage('IncompleteCategory')
				}
			})

		</script>		
	</body>
</html>